<!doctype html>
<html>
  
    <head>
        <a href="/" style="margin-right:25px;">home</a>
        <a href="/allblogs" style="margin-right:25px;">all posts</a>
        <a href="/newpost" style="margin-right:25px;">new post</a>
        <a href="/login" style="margin-right:25px;">login</a>
        <a href="/logout" style="position:absolute, right:25px;">logout</a>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>