{% extends "base.html" %}

{% block content %}
    <h1>blog posts!</h1>

    <hr/> 
    {% if blogs|length == 0 %}
        <p>No blogs yet</p>
    {% else %}
        <ul>
            {% for blog in blogs %}
            <form method="POST" action="/finishedpost" style="display:inline-block;">
                <input type="hidden" name="blog-id" value="{{blog.id}}" />
                <input  style="padding:0px;font-size:25px;white-space:nowrap;
                text-align:left;font-weight:bold;background:none;border:none;" 
                type="submit" value="{{blog.title}}"/>
                

                </br></br>
                <a>{{blog.body}}</a>
                <p>Written by <a href="/blog?userid={{blog.owner.id}}">{{blog.owner.username}}</a></p>
            </form>

    
            
            
            <hr/>
            {% endfor %}
        </ul>
    {% endif %}

    
{% endblock %}