<!doctype html>
<html>
    <a href="buildablog" style="margin-right:25px;">Main Blog Page</a>
    <a href="newpost">Add a Blog Entry</a>
    <head>
        <title >New Post</title>
        <style>
                .error {
                    color: red;
                }
        </style>
    </head>
<body>

    <h1 align="center">New Post</h1>
    <form  method='post'>
        <div style="margin-left:35px;">
            <label for="blog_title" style="display:block;">Title for your new blog:</label>
            <input type="text" name='blog_title' style="display:block;width:240px;" />
            <span class="error" style="display:block;">{{blog_title_error}}</span>
        </div>
    </br>
        <div style="margin-left:35px;">
            <label  style="display:block;" for="blog_body">Your new blog:</label>
            <textarea  style="display:block;width:340px;height:240px;" type="textarea" name='blog_body'></textarea> 
            <span class="error" style="display:block;">{{blog_body_error}}</span>
        </div>
    </br>
        <input type="submit" value='Add Entry'  style="margin-left:35px;display:block;"/>
    </form>

</body>
</html>